
@{
    ViewBag.Title = "Show";
}

<script>
    function check() {
        var get;
        get = document.getElementById("CompanyName");
        if (get == "") {
            alert("名稱不得為空");
        }
    }
</script>



<div>
    @using (Html.BeginForm("DoAndShow", "Inquire", FormMethod.Post))
    {
        <table style="border:3px #cccccc solid;" cellpadding="10" border="1" align="center">
            <tr>
                <td>*名稱</td>
                <td>@Html.TextBox("CompanyName")</td>
            </tr>
            <tr>
                <td>*聯絡人姓名</td>
                <td>@Html.TextBox("ContactName")</td>
            </tr>
            <tr>
                <td>*聯絡人職稱</td>
                <td>@Html.DropDownList("CodeId", (List<SelectListItem>)ViewBag.ContactTitle)</td>
            </tr>
            <tr>
                <td>*建立日期</td>
                <td><input type="date" name="CreationDate" id="CreationData"/></td>
            </tr>
            <tr>
                <td>*國家</td>
                <td>@Html.TextBox("Country")</td>
            </tr>
            <tr>
                <td>*城市</td>
                <td>@Html.TextBox("City")</td>
            </tr>
            <tr>
                <td>區域</td>
                <td>@Html.TextBox("Region")</td>
            </tr>
            <tr>
                <td>郵遞區號</td>
                <td>@Html.TextBox("PostalCode")</td>
            </tr>
            <tr>
                <td>*地址</td>
                <td>@Html.TextBox("Address")</td>
            </tr>
            <tr>
                <td>*電話</td>
                <td>@Html.TextBox("Phone")</td>
            </tr>
            <tr>
                <td>傳真</td>
                <td>@Html.TextBox("Fax")</td>
            </tr>
            <tr>
                <td>*代表必輸欄位</td>
                <td>
                    <input type="button" value="存檔" onclick="check()"/>
                    <input type="button" onclick="javascript:window.history.go(-1);" value="回前一頁">
                </td>
            </tr>
        </table>
    }
</div>