@{
    ViewBag.Title = "Home Page";
}

<script>
    function Insert() {
        location.href = '@Url.Action("Show","Insert")';    
    }
</script>

<div>
    @using (Html.BeginForm("DoAndShow", "Inquire", FormMethod.Post))
    {
        <table style="border:3px #cccccc solid;" cellpadding="10" border="1" align="center">
            <tr>
                <td>客戶編號</td>
                <td>@Html.TextBox("CustomerID")</td>
            </tr>
            <tr>
                <td>客戶名稱</td>
                <td>@Html.TextBox("CompanyName")</td>
            </tr>
            <tr>
                <td>聯絡人姓名</td>
                <td>@Html.TextBox("ContactName")</td>
            </tr>
            <tr>
                <td>聯絡人職稱</td>
                <td>@Html.DropDownList("CodeId", (List<SelectListItem>)ViewBag.ContactTitle)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="查詢" />
                    <input type="reset" value="清除" />
                    <input type="button" value="新增客戶" onclick="Insert()" />
                </td>
            </tr>
        </table>
    }
</div>